.nav-list {
    max-width: 600px;
    display: flex;
    justify-content: end;
    padding: 10px 30px 10px 200px;
    background-color: var(--prime-color);
}

.nav-list li {
    padding: 2px 15px;
}

nav {
    display: flex;
    justify-content: flex-end;

}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column; 
    }

    .nav-list li {
        margin: 10px 0;
    }
}