#root {
  margin: 0 auto;
}

.container {
  min-width: 1280px;
}

.flexbox {
  display: flex;
  align-items: center;
  margin-top: 150px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%; 
    padding: 0 10px;
  }

  .flexbox {
    flex-direction: column; 
    margin-top: 50px; 
  }
}

