.profile-photo {
  width: 250px;
  height: 400px;
  margin: 5vh 10vw;
  border: 2px solid white;
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
}

.profile-photo:hover {
  transform: scale(1.5);
}
