.about-section {
    display: block;
    max-width: 35%;
    background-color: rgba(255, 255, 255, 0.14);
    padding: 30px 100px;
}

.about-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.aboutMe {
    width: 400px;
    height: auto;
    margin: 20px 0;
}

.titleBackground {
    background-color: var(--prime-color);
    padding: 2px 10px;
    border: 1px solid black;
}

.about-buttons {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .about-section {
        max-width: 95%; 
        padding: 20px; 
    }

    .aboutMe {
        width: 100%; 
    }

    .about-buttons {
        flex-direction: column; 
    }
}
